PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/mediconnect
REDIS_URL=redis://127.0.0.1:6379
JWT_SECRET=mediconnect_super_secret_jwt_key_2026_mumbai_health
JWT_EXPIRES_IN=7d
RAZORPAY_KEY_ID=rzp_test_mediconnect12345
RAZORPAY_KEY_SECRET=razorpay_secret_key_mediconnect_mock
